* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  /* font-family: 'Mukta', sans-serif; */

  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fffffff4;
  transition: 0.5s;
  display: flex;
  font-size: 12px;
}
.loading.close {
  display: none;
}
.loading .spinner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 3px solid red;
  border-bottom: 3px solid red;

  transform: skew(10deg, 10deg);
  animation: loading 2s linear infinite;
  position: absolute;
}
.loading .spinner.two {
  border-top: 0px solid;
  border-bottom: 0px solid;
  border-right: 3px solid red;
  border-left: 3px solid red;
  animation: loading2 2s linear infinite;
}
.loading .spinner.three {
  border-bottom: 3px solid red;
  animation: loading3 2s linear infinite;
}
.btn-bottom {
  position: fixed;
  bottom: 13%;
  right: 3%;
  background-color: white;
  color: #777;
  width: 40px;
  box-shadow: 0px 2px 4px 0px #777;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 100;
  transition: 0.5s;
  cursor: pointer;
}

.btn-bottom.res {
  bottom: 6%;
}
.btn-bottom.top {
  display: none;
}

.btn-bottom.res::after,
.btn-bottom.top::after {
  content: "Resently Viewed";
  position: absolute;
  left: -105px;
  background-color: #000000b8;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  opacity: 0;
  transition: 0.5s;
}

.btn-bottom.top::after {
  content: "Back To Top";
  left: -83px;
}

.btn-bottom.res::before,
.btn-bottom.top::before {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000000b8 #000000b8 transparent;
  left: -45%;
  transform: rotate(-45deg);
  transition: 0.5s;
  opacity: 0;
}

.btn-bottom.res:hover::after,
.btn-bottom.res:hover::before,
.btn-bottom.top:hover::after,
.btn-bottom.top:hover::before {
  opacity: 1;
}

.btn-bottom:hover {
  opacity: 1;
}

.btn-bottom i {
  font-weight: 900;
  font-size: 22px;
}

.fixed-nav {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid #ececec;
}

.fixed-nav ul {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
}

.fixed-nav ul li a {
  padding: 10px 30px 10px 5px;
  font-size: 13px;
}

@media (max-width: 1330px) {
  .fixed-nav ul li a {
    font-size: 10px;
  }
}

.fixed-nav ul li {
  transition: 0.5s;
  color: black;
}

.fixed-nav ul li :where(a, i) {
  transition: 0.5s;
}
.fixed-nav ul li:hover :where(a, i) {
  color: red;
}

.main-det {
  display: flex;
  justify-content: space-between;
  padding: 45px 50px 0;
  align-items: center;
  flex-wrap: wrap;
}

.lang {
  display: flex;
  gap: 15px;
}

.lang > div {
  display: flex;
  align-items: center;
}

.lang > div > p,
.lang > p {
  position: relative;
}

.lang > div > p:after,
.lang > p:after {
  content: "\f107";
  font: 14px/1 FontAwesome;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #6b6b6b;
  position: absolute;
  top: 6px;
  right: -15px;
}
.lang p {
  padding: 5px;
}
.main-det .mob-menu-btn {
  font-size: 27px;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}
.main-det .logo {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  letter-spacing: 5px;
  flex: 1;
  text-align: center;
}
.main-det .other {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-det .other input {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  flex: 1;
}

.main-det .other input:hover {
  border-bottom: 1px solid #ececec;
}

.main-det .other i {
  font-weight: bold;
  cursor: pointer;
}
.main-nav {
  max-width: 97%;
}
.main-nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  border-bottom: 1px solid #ececec;
  transition: 0.5s;
}

.main-nav > ul > li {
  padding: 15px 22px;
  position: relative;
  transition: 0.5s;
}

.main-nav > ul > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  transform: translateY(0);
}

.mega-menu {
  position: absolute;
  left: 0;
  padding: 30px;
  background-color: white;
  border: 1px solid #ececec;
  z-index: -1;
  top: calc(100%);
  opacity: 0;
  transition: 0.5s;
  transform: translateY(10%);
}

.mega-menu .main-ul {
  display: flex;
  gap: 20px;
}

.mega-menu .main-ul .sec-ul {
  width: 150px;
  transition: 0.5s;
}

.mega-menu .main-ul li:hover > a {
  color: red;
}

.mega-menu .main-ul li .main-a {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  display: block;
  min-width: 150px;
}

.mega-menu .sec-ul li a {
  padding-top: 8px;
  font-size: 15px;
  transition: 0.5s;
  color: black;
  display: block;
}

.mega-menu .main-ul .sec-ul li a:hover {
  color: red;
  transform: translateX(3%);
}

.main-nav > ul > li > a {
  font-size: 20px;
  position: relative;
  transition: 0.5s;
}

@media (max-width: 1330px) {
  .main-nav > ul > li > a {
    font-size: 13px;
  }
}

.main-nav > ul > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: 0.5s;
}

.main-nav > ul > li > a:hover::after {
  width: 100%;
}

.main-nav > ul > li > a::before {
  content: "\f078";
  position: absolute;
  right: -20px;
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
  font: 14px/1 FontAwesome;
}

.main-nav > ul > li > a:hover {
  color: red;
}

.main-nav > ul li .fl-sale {
  background-color: red;
  color: white;
  text-transform: uppercase;
  padding: 5px 25px;
  border: 1px solid red;
}

.main-nav > ul li .fl-sale::before {
  display: none;
}

.main-nav > ul li .fl-sale:hover {
  background-color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -11;
  opacity: 0;
  transition: 0.8s;
}
.overlay.open {
  z-index: 100;
  opacity: 1;
}
.mobile-nav,
.right-menu {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 40px;
  transition: 0.8s;
  opacity: 0;
}
.mobile-nav {
  display: none;
  left: 0;
  transform: translateX(-200%);
}
.mobile-nav.open {
  transform: translateX(0%);
  opacity: 1;
}
@media (max-width: 550px) {
  .mobile-nav,
  .right-menu {
    width: 100%;
  }
}
.mobile-nav ul .mob-title {
  margin-bottom: 15px;
  font-size: 25px;
}
.mobile-nav li :where(.sub-menu, .sec-ul) {
  padding: 0 10px;
}
.mobile-nav li {
  max-height: 42px;
  overflow: hidden;
  transition: 0.5s;
}
.mobile-nav li.open {
  max-height: 500px;
}

.mobile-nav ul li a {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  color: #333333;
  display: block;
  display: flex;

  align-items: center;
}
.mobile-nav .main-link a {
  justify-content: space-between;
}
.mobile-nav ul li a.fl-sale {
  color: rgb(227, 36, 36);
}
.mobile-nav ul li .more {
  position: relative;
  width: 20px;
  height: 20px;
}
.mobile-nav ul li .more::after,
.mobile-nav ul li .more::before {
  content: "";
  position: absolute;
  width: 60%;
  top: 50%;
  background-color: #aba8a8;
  height: 2px;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav ul li .more::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.mobile-nav ul li.open > a .more::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.mobile-nav li .sub-menu li a {
  font-size: 16px;
}
.mobile-nav .close,
.right-menu > .close {
  position: absolute;

  width: 40px;
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
}
.mobile-nav .close {
  right: -20px;
}
.mobile-nav .close:hover {
  background-color: red;
  color: white;
}
@media (max-width: 550px) {
  .mobile-nav .close {
    right: 3px;
  }
}
@media (max-width: 950px) {
  .fixed-nav,
  .main-nav,
  .main-det .lang {
    display: none;
  }
  .main-det {
    padding: 10px 30px 0;
  }
  .mobile-nav,
  .main-det .mob-menu-btn {
    display: block;
  }
  .main-det .other {
    width: 100%;
  }
}

.sign-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation: fade 0.5s linear;
  opacity: 0;
  display: none;
}

.sign-form.open {
  opacity: 1;
  display: flex;
}
.sign-form .form {
  width: 500px;
  height: 500px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.sign-form .form .logo {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  letter-spacing: 5px;
  flex: 1;
  text-align: center;
  padding: 30px;
  width: 100%;
  border-bottom: 1px solid #aba8a8;
}
.sign-form .form .holder {
  width: 400px;
  margin: 0 auto;
}

.sign-form .form label {
  display: block;
  font-size: 17px;
  margin: 25px 0 5px;
}
.sign-form .form .holder > input {
  width: 100%;
  border: 1px solid #cecece;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.sign-form .form .more-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.sign-form .form .more-action .rem,
.sign-form .form .not {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-form .form .more-action .forget a,
.sign-form .form .not a {
  font-size: 13px;
  padding: 0;
  color: black;
}
@media (max-width: 550px) {
  .sign-form .form {
    width: 300px;
  }
  .sign-form .form .holder {
    width: 250px;
  }
  .sign-form .form .more-action .forget a,
  .sign-form .form .not a {
    font-size: 10px;
  }
}
.sign-form .form .more-action .forget a:hover,
.sign-form .form .not a:hover {
  color: red;
}
.sign-form .form .btn {
  cursor: pointer;
  background-color: #b92020;
  color: white;
  border: none;
  outline: none;
}
.sign-form .form .not {
  padding: 20px 0;
}
/* End Nav */
.sale-div {
  margin: 30px auto;
  position: relative;
}
.swiper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 90%;
  gap: 40px;
  padding: 14px 0;
  margin-right: -35px;
}

.main-swiper {
  gap: 0;
  width: 100%;
  margin: 0;
}
.swiper.dragging,
.swiper.no-trans {
  scroll-behavior: auto;
}
.swiper.dragging {
  scroll-snap-type: none;
}

.swiper::-webkit-scrollbar {
  display: none;
}
.main-swiper img,
.swiper > img {
  scroll-snap-align: center;
}
.swiper .box {
  scroll-snap-align: start;
}
.row,
.row {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  color: #777;
  box-shadow: 0px 2px 4px 0px #777;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 27px;
  opacity: 0;
  transition: 0.7s;
  cursor: pointer;
  text-align: center;
  z-index: 22;
}
.row::before {
  content: "";
  position: absolute;
  z-index: -82;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f5f5f53d;
  transition: 0.5s;
}
.row:hover::before {
  width: 180%;
  height: 180%;
}
.row i {
  line-height: 40px;
}
.row.right {
  right: 1%;
}
.row.left {
  left: 1%;
}

.sale-div:hover .row,
.swiper-sec:hover .row {
  opacity: 1;
}

.sale-div img {
  width: 100%;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
}

.container .main-title {
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 35px;
  margin: 35px;
  text-align: center;
}
@media (max-width: 500px) {
  .container .main-title {
    font-size: 18px;
    letter-spacing: 3px;
    padding: 0px;
  }
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  width: 85%;
}
.swiper-div {
  gap: 40px;
}
.dis-box::after {
  content: "50%";
  position: absolute;
  background-color: red;
  color: white;
  top: 5px;
  right: -15px;
  text-align: center;
  padding: 0px 3px;
  font-size: 13px;
  z-index: 2;
}

.box {
  transition: 0.5s;
  position: relative;
  min-width: calc(100% / 4 - 40px);
}
@media (max-width: 1250px) {
  .box {
    min-width: calc(100% / 3 - 40px);
  }
}
@media (max-width: 950px) {
  .box {
    min-width: calc(100% / 2 - 40px);
  }
}
@media (max-width: 600px) {
  .box {
    min-width: calc(100% / 1 - 40px);
  }
}
.box:hover {
  box-shadow: 0px 0px 13px 3px #3333;
}

.box .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 62px);
  background-color: #ffffffd4;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.layer .layer-btn {
  position: absolute;
  right: 0px;
  height: 100%;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translateX(100%);
}

.layer:hover .layer-btn {
  transform: translateX(0%);
}

.layer-btn .heart {
  font-size: 24px;
  position: relative;
}

.layer-btn .quick {
  width: 35px;
  height: 35px;
  background-color: #0d0d0d;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transition: 0.5s;
  position: relative;
}

.quick:hover {
  opacity: 1;
}

.quick::after,
.heart::after {
  content: "Quick View";
  position: absolute;
  left: -219%;
  background-color: #000000b8;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
  opacity: 0;
  transition: 0.5s;
}

.heart::after {
  content: "Wishlist";
  left: -60px;
}

.quick::before,
.heart::before {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000000b8 #000000b8 transparent;
  left: -45%;
  transform: rotate(-45deg);
  transition: 0.5s;
  opacity: 0;
}
.layer-btn .heart::before {
  left: -65%;
  top: 7px;
}
.quick:hover::after,
.quick:hover::before,
.heart:hover::before,
.heart:hover::after {
  opacity: 1;
}

.box .layer i:hover {
  color: red;
}

.box:hover .layer {
  display: flex;
}

.box .layer > a {
  padding: 0px 20px;
  color: black;
  font-size: 20px;
  opacity: 0.7;
  border: 1px solid black;
  transition: 0.5s;
}

.box .layer > a:hover {
  opacity: 1;
  background-color: black;
  color: white;
}

.box .image img {
  width: 100%;
}

.box .info {
  padding: 10px;
}

.box .info h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 0px;
  margin: 0;
}

.box .info .price,
.box .info p {
  font-size: 17px;
  color: #777;
  display: flex;
  gap: 20px;
}

.box .info .dis {
  color: red;
  text-decoration: line-through;
}
@media (max-width: 930px) {
  .box .info h3 {
    font-size: 17px;
  }

  .box .info .price,
  .box .info p {
    font-size: 15px;
  }
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 13px 0;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
}

.title h3 {
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: normal;
}

.title a {
  font-size: 15px;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .title {
    padding: 0px 20px 13px 0;
  }
  .title h3 {
    font-size: 17px;
    letter-spacing: 3px;
  }

  .title a {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .title {
    padding: 0px 20px 13px 0;
  }
  .title h3 {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .title a {
    font-size: 12px;
  }
}
.title a:hover {
  color: red;
}

.sale {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  gap: 40px;
  width: 90%;
  max-width: 1250px;
  margin: 50px auto;
}
@media (max-width: 850px) {
  .sale {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
.sale .box img {
  width: 100%;
  transition: 0.5s;
}

.sale .box img:hover {
  box-shadow: 0px 0px 13px 3px #3333;
}

.quick-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade 0.5s linear;
  opacity: 0;
  display: none;
}
.quick-view.open {
  opacity: 1;
  display: flex;
}

:where(.mob-quick-view, .quick-view) .content {
  width: 70%;
  height: 65%;
  background-color: white;
  padding: 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  position: relative;
}
.mob-quick-view {
  padding: 0;
}
.mob-quick-view .content {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
  height: 100%;
  gap: 20px;
  overflow-y: scroll;
}
:where(.mob-quick-view, .quick-view) .images {
  position: relative;
}
:where(.mob-quick-view, .quick-view) .images .sub-rows {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 0px #2222228a;
  cursor: pointer;
  opacity: 0;
}
:where(.mob-quick-view, .quick-view) .images:hover .sub-rows {
  opacity: 1;
}
:where(.mob-quick-view, .quick-view) .images .sub-rows.right {
  right: -5%;
}
:where(.mob-quick-view, .quick-view) .images .sub-rows.left {
  left: -5%;
}
:where(.mob-quick-view, .quick-view) .images .sub-img {
  display: flex;
  gap: 10px;
  justify-content: center;
}
:where(.mob-quick-view, .quick-view) .images .sub-img img {
  max-width: 60px;
  object-fit: contain;
  cursor: pointer;
}
.mob-quick-view .sub-img img {
  width: 44px;
}
:where(.mob-quick-view, .quick-view) .details {
  flex: 1;
}

:where(.mob-quick-view, .quick-view) .details .info .pro-title {
  font-size: 40px;
  color: #e93c3c;
}
:where(.mob-quick-view, .quick-view) .details .info .stock {
  display: block;
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}
:where(.mob-quick-view, .quick-view) .details .info .price {
  font-size: 30px;
  font-weight: bold;
}
:where(.mob-quick-view, .quick-view) .details .info .rating {
  display: flex;
  gap: 1px;
  padding: 10px 0;
  color: rgb(255, 217, 0);
}
:where(.mob-quick-view, .quick-view) .details .info .rating li.empty {
  color: #777;
}
:where(.mob-quick-view, .quick-view) .details .info .rating li.reviews {
  padding-left: 10px;
  font-size: 14px;
  color: #aba8a8;
}
:where(.mob-quick-view, .quick-view) .details .color {
  padding: 15px 0px;
  margin: 10px 0;
  border: 1px solid #ececec;
  border-width: 1px 0;
}
:where(.mob-quick-view, .quick-view) .details .color .color-content,
:where(.mob-quick-view, .quick-view) .details .size .size-content {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}
:where(.mob-quick-view, .quick-view) .details .color .color-content li {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.6;
  transition: 0.5s;
}
:where(.mob-quick-view, .quick-view) .details .color .color-content li:hover {
  opacity: 1;
}
:where(.mob-quick-view, .quick-view)
  .details
  .color
  .color-content
  li:first-of-type {
  background-color: #00acee;
}
:where(.mob-quick-view, .quick-view)
  .details
  .color
  .color-content
  li:nth-of-type(2) {
  background-color: #0d0d0d;
}
:where(.mob-quick-view, .quick-view)
  .details
  .color
  .color-content
  li:nth-of-type(3) {
  background-color: #d3d139;
}
:where(.mob-quick-view, .quick-view)
  .details
  .color
  .color-content
  li:last-of-type {
  background-color: #e01a1a;
}
:where(.mob-quick-view, .quick-view) .details .size .size-content li {
  width: 30px;
  background-color: #aba8a8;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
:where(.mob-quick-view, .quick-view).details .size .size-content li:hover,
:where(.mob-quick-view, .quick-view) .details .size .size-content li.active {
  background-color: #4e4e4e;
}
:where(.mob-quick-view, .quick-view).details .action {
  padding: 25px 0;
}

:where(.mob-quick-view, .quick-view) .details .action .btn {
  padding: 10px 28px;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  display: inline-block;
  margin-top: 20px;
}
.mob-quick-view .btn {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
:where(.mob-quick-view, .quick-view) .details .action .btn:hover {
  background-color: rgb(230, 24, 24);
}
:where(.mob-quick-view, .quick-view) .close,
.sign-form .close {
  position: absolute;
  text-align: center;
  line-height: 40px;
  top: -12px;
  right: -14px;
  font-size: 35px;
  color: #e93c3c;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.mob-quick-view .close {
  top: 35px;
}

.right-menu {
  transform: translateX(200%);
  right: 0;
}
.right-menu.open {
  transform: translateX(0%);
  opacity: 1;
}

.right-menu .main-title {
  text-align: center;
  font-size: 34px;
}
.right-menu .pro-empty {
  text-align: center;
  padding: 40px 0;
}
.right-menu .pro-empty .icon {
  font-size: 180px;
  color: #cecece;
  margin-bottom: 30px;
  display: block;
}
.right-menu .pro-empty .btn {
  background-color: red;
  color: white;
  padding: 10px 40px;
  font-size: 20px;
  display: inline-block;
  margin-top: 34px;
  cursor: pointer;
}
.right-menu > .close {
  left: -20px;
  z-index: 10;
}
@media (max-width: 550px) {
  .right-menu > .close {
    left: 3px;
  }
}
.right-menu.close:hover {
  background-color: red;
  color: white;
}

/* -----------------STart Prodect Page-------------- */
.prodect-images {
  position: relative;
}
.prodect-images:hover .row {
  opacity: 1;
}
.prodect-images .swiper {
  margin: 50px auto;
  width: 95%;
}
.prodect-images img {
  min-width: calc(100% / 3 - 30px);
}
.prodect-details .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 30px;
}

.prodect-details .info {
  border-right: 1px solid #ccc;
}
@media (max-width: 1000px) {
  .prodect-images img {
    min-width: calc(100% / 2 - 30px);
  }
  .prodect-details .container {
    flex-direction: column;
    gap: 40px;
  }
  .prodect-details .info {
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}
@media (max-width: 530px) {
  .prodect-images img {
    min-width: 100%;
  }
}
.prodect-details .info h3 {
  font-size: 50px;
}

.prodect-details .stock {
  display: block;
  margin: 12px 0;
  font-size: 14px;
  color: #aba8a8;
}
.prodect-details .price {
  font-size: 35px;
  font-weight: bold;
}
.prodect-details .info .rating {
  display: flex;
  gap: 1px;
  padding: 10px 0;
  color: rgb(255, 217, 0);
}
.prodect-details .info .rating li.empty {
  color: #777;
}
.prodect-details .info .rating li.reviews {
  padding-left: 10px;
  font-size: 14px;
  color: #aba8a8;
}
.prodect-details .about {
  max-width: 500px;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .prodect-details .info h3 {
    font-size: 30px;
  }
  .prodect-details .about {
    font-size: 14px;
  }
}
.prodect-details .sub-title {
  font-size: 25px;
  margin-bottom: 10px;
}
.prodect-details .color-content,
.size-content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 20px 20px;
}
.prodect-details .color-content li img {
  width: 45px;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 0.6;
  transition: 0.5s;
}
.prodect-details .color-content li img:hover {
  opacity: 1;
}
.prodect-details .color-content li img.active {
  border: 1px solid black;
  opacity: 1;
}
.prodect-details .size {
  padding: 17px 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
  margin-bottom: 20px;
}

.prodect-details .details .size .size-content li {
  width: 70px;
  background-color: #aba8a8;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.prodect-details .details .size .size-content li:hover,
.prodect-details .details .size .size-content li.active {
  background-color: #4e4e4e;
}
.qun {
  display: flex;
  align-items: center;
  gap: 35px;
}
.qun .qun-input {
  display: flex;
  border: 1px solid #c1c1c1;
}
.qun input {
  width: 40px;
  height: 30px;
  outline: none;
  border: none;
  text-align: center;
}
.qun .qun-input span {
  width: 25px;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
}
.qun .qun-input span:hover {
  background-color: #ccc;
  color: white;
}
.qun .qun-input span.up {
  right: -25px;
}
.qun .qun-input span.down {
  left: -25px;
}
.prodect-details .details .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  gap: 20px;
}
.prodect-details .details .action .btn {
  padding: 10px 28px;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  background-color: #2e2e2e;
  color: white;
  width: 250px;
  display: block;
  text-align: center;
}
.prodect-details .details .action .btn:hover {
  background-color: rgb(230, 24, 24);
}
/* End Prodect Page */

/* Start Footer */
/* End Footer */
.footer {
  width: 100%;
  margin: 50px auto 0;
  padding: 50px 0px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
}

.footer .box h3 {
  font-size: 18px;
  font-weight: normal;
  padding: 5px 15px;
  text-transform: uppercase;
}

.footer .box ul li a {
  display: inline-block;
  padding: 3px 0;
  line-height: 23px;
  color: white;
  transition: 0.5s;
  opacity: 0.8;
}

.footer .box ul li a:hover {
  transform: translateX(10%);
  opacity: 1;
}

.footer .input {
  width: 100%;
  position: relative;
  border: 1px solid white;
}

.footer .input .email {
  width: 100%;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.footer .input .in-btn {
  width: fit-content;
  position: absolute;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  transition: 0.5s;
}

.footer .input .in-btn:hover {
  background-color: white;
  color: red;
}

.footer .parent {
  width: 100%;
  gap: 42px;
}

.footer .parent .box {
  justify-content: flex-start;
}

.customer {
  padding-top: 100px;
}

.customer h3 {
  font-weight: normal;
  padding-bottom: 10px;
}

.customer ul {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.customer ul li {
  padding-right: 10px;
}

.customer ul li a i {
  font-weight: 900;
  color: white;
  transition: 0.5s;
}

.customer .copy {
  padding-top: 10px;
}

.customer ul li a i.f:hover {
  color: #3b5998;
}

.customer ul li a .i:hover {
  color: #d62976;
}

.customer ul li a .fa-twitter:hover {
  color: #00acee;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes loading2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes loading3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
